.todo-list-template{
    background: white;
    width: 512px;
    margin: 0 auto;
    height: 768px;
    border-radius: 16px;
    position: relative;
}
.title {
    padding: 2rem;
    margin-top:  96px;
    margin-bottom: 32px;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    background: #00916e;
    color: white;
}
.form-wrapper {
    padding:1rem;
    border-bottom: 1px solid #00916e;
}
.todos-wrapper{
    min-height: 5rem;
}